<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
    <link rel="stylesheet" href="/styles/modal.css" />
  </head>
  <body>
    <button>Add Review</button>

    <div id="modal">
      <button id="close">X</button>

      <form action="/reviews" method="POST">
        <input type="text" name="isbn" placeholder="ISBN" required />
        <input type="text" name="title" placeholder="Title" required />
        <input type="date" name="date" required />
        <input
          type="number"
          name="rating"
          placeholder="What is your rating out of 10? (e.g 6)"
          required
        />
        <textarea
          name="description"
          placeholder="Give your review here!"
          required
        ></textarea>
        <button type="submit"></button>
      </form>
    </div>
  </body>
</html>
